@model IEnumerable<ACMEAPP.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.HiddenFor(modelItem => item.EmployeeId)
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
        </td>
    </tr>
}

</table>
